<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>finalWeb-web</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>finalWeb.web.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarLivro</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCliente</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCartao</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarEndereco</url-pattern>
  </servlet-mapping>  
  

   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarGrupos</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCategoria</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarSubCategoria</url-pattern>
  </servlet-mapping>  
         
      <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCarrinho</url-pattern>
  </servlet-mapping>   
  
</web-app>